#set_datetime{
  overflow: auto;
  position: fixed;
  text-align: center;
  background: #191c29;
  height: 100vh;
  width: 90vw;
  z-index: 99999;
  top: 0;
  padding: 50px 5vw 0 5vw;
}


#set_datetime.hide {
  animation-name: fade-out-datetime;
  animation-duration: 0.3s; 
  animation-timing-function: ease-out; 
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards; 
}

#set_datetime.show {
  animation-name: fade-in-datetime;
  animation-duration: 0.3s; 
  animation-timing-function: ease-out; 
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards; 
}

@media (max-width: 767px){
  body.fix{
    overflow-y: hidden;
    height: 100vh;
  }
}

@keyframes fade-out-datetime {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, -110vh, 0);
  }
}

@keyframes fade-in-datetime {
  0% {
    transform: translate3d(0, -110vh, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

#set_datetime_inner{
  height: fit-content;
}

#set_datetime .title{
    font-size: 20px;
    margin: 0 0 28px;
}

#set_datetime .input_wrap{
    border-top: solid 1px;
    padding: 32px 0 0;
    margin: 32px 0 0;
}

@media (min-width: 768px){
  #set_datetime{
    left: 220px;
    padding: 50px 30px 0 0;
    z-index: 99996;
    width: calc(768px - 220px + 10px);
  }

  #set_datetime.hide {
    animation-name: fade-out-datetime-pc;
    animation-duration: 0.3s; 
    animation-timing-function: ease-out; 
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards; 
  }

  #set_datetime.show {
    animation-name: fade-in-datetime-pc;
    animation-duration: 0.3s; 
    animation-timing-function: ease-out; 
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards; 
  }

  @keyframes fade-out-datetime-pc {
    0% {
      transform: translate3d(0, 0, 0);
      left: 220px;
    }
    100% {
      transform: translate3d(-360px, 0, 0);
      left: 0;
    }
  }

  @keyframes fade-in-datetime-pc {
    0% {
      transform: translate3d(-360px, 0, 0);
      left: 0;
      display: none;
    }
    100% {
      transform: translate3d(0, 0, 0);
      left: 220px;
    }
  }
}

#set_datetime_forecast p{
  margin: -20px 0 20px;
}

/* 
 * 入力欄
 */

html:not(.partner) #set_datetime_partner{
  display: none;
}
html:not(.forecast) #set_datetime_forecast{
  display: none;
}

@media (min-width: 768px) {
  .set_param{
      max-width: calc(100vw - 220px - 70px);
      margin: 0 auto;
  }
}


.set_param input[disabled=disabled], .set_param select[disabled=disabled]{
  color: #9fb0e2;
}

.set_param table{
      margin: auto;
}

.set_param tr{
    height: 44px;
    vertical-align: top;
}

.set_param td{
  line-height: 1.2em;
  white-space: nowrap;
}

.set_param td.radio_td{
    white-space: unset !important;
    line-height: 1.5em;
    padding: 0 0 18px;
}

.set_param td:first-child{
  width: 150px;
}

.set_param td:last-child{
  width: calc(100% - 150px);
  text-align: left;
}

.set_param td:last-child select{
  max-width: 100%;
}

.set_param dl{
  margin: auto;
  max-width: 600px;
}

.set_param dt{
  vertical-align: top;
}

.set_param span.large{
  font-size: 24px;
  vertical-align: middle;
}

@media (min-width: 768px){
  .set_param dt{
    display: inline-block;
    width: 280px;
  }

  .set_param dd{
    display: inline-block;
    width: calc(100% - 290px);
    text-align: left;
    margin-bottom: 20px;
  }
}

@media (max-width: 767px){
  .set_param dl{
    margin: auto;
    max-width: 320px;
  }

  .set_param dt{
    font-size: 18px;
    text-align: left;
    width: 100%;
  }

  .set_param dd{
    width: 100%;
    text-align: center;
    margin: 0 0 40px 0;
  }
}

.set_param .unknown_time{
  margin: 0 4px 0 0px;
}

.set_param .timezone{
  width: 90%;
}

.set_param .country{
  width: 90%;
}

.set_param .region{
  width: 90%;
}

.set_param .city{
  width: 90%;
}

.set_param select{
  border: solid 1px #fff;
  border-radius: 0;
  background: #fff;
}

.set_param input, .set_param select {
    font-size: 14px;
/*    vertical-align: middle;*/
}

.set_param button{
    font-size: 15px;
    border-radius: 4px;
    cursor: pointer;
    margin: 0px 4px 120px;
    padding: 4px 20px;
    height: 36px;
}
@media (max-width: 767px){
  .set_param button{
    margin: 0px 4px 200px;
  }
}

.set_param #getNow{
    border: solid 2px #c5c5ac;
    background: #3a3a2c;
    color: #c5c5ac;
    font-size: 15px;
    border-radius: 4px;
    width: 100px;
    cursor: pointer;
    margin: 10px 0 40px 0;
    padding: 4px;
}

.set_param p{
  font-size: 12px;
  margin: 60px 20px 60px;
  line-height: 1.2em;
}

.set_param .lat, .set_param .lon, .set_param .location {
  display: inline-block;
  margin: 0 0 8px 0;
}

.set_param .radio_wrap div, .radio div, div.planet_wrap, div.house_system_wrap{
  display: inline-block;
  margin: 0 4px 8px 0;
}

.set_param .radio_wrap{
  white-space: unset;
  line-height: 1.5em;
  padding: 0 0 0;
}

#input_city_list{
    background: #0c1846;
    position: absolute;
    margin: 2px auto;
    right: 0;
    left: 0;
    width: 300px;
    text-align: left;
    padding: 4px;
    color: #c7d7e6;
    border: solid 1px #82add3;
    max-height: 230px;
    overflow-y: auto;
    opacity: 0.95;
}

@media (min-width: 768px) {
  #input_city_list{
    width: 410px;
    left: 140px;
  }
}

#close{
    background: transparent;
    border: none;
    cursor: pointer;
    display: inline-block;
    position: fixed;
    right: calc(2vw + 5px);
    top: 12px;
    height: 17px;
    width: 17px;
    z-index: 100000;
    position: absolute;
}



@media (min-width: 768px) {
  #close{
    top: 22px;
  } 
}

#close div{
    display: inline-block;
    height: 2px;
    width: 22px;
    background-color: #9aa;
    margin: 0;
    position: absolute;
    right: -2px;
    top: 8px;
}

#close div:nth-of-type(1){
  transform: rotate(45deg);
}

#close div:nth-of-type(2){
  transform: rotate(-45deg);
}

#calculator_article{
   padding-top: 200px;
   text-align: center;
}

@media (max-width: 767px){
  #calculator_article{
     width: 100%;
  }
  #calculator_article section{
    width: calc(100% - 40px);
  }
}
@media (min-width: 768px){
  #calculator_article{
    padding-top: 100px;
    width: calc(100% - 220px);
    padding-left: 0;
    margin-left: 220px;
  }
  #calculator_article section{
    width: 100%;
  }
}

#calculator_article .description{
  line-height: 2em;
  margin: 20px 0 0;
}



.res_date_time{
    display: inline-block;
    top: 2.4vw;
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    font-size: 14px;
    z-index: 99999;
}
@media (min-width: 600px){
  .res_date_time{    
  }
}
@media (max-width: 767px){
  .res_date_time{
    width: 70%;
  }
}
#res_date_time_wrap{
  z-index: 99999;
}
@media (min-width: 768px){
  #res_date_time_wrap{
    top: 100px;
    position: fixed;
    width: 220px;
  }
  #res_date_time_wrap .title{
    padding: 10px 0 0 20px;
  }
  .res_date_time{
    width: 190px;
    text-align: left;
    padding: 0 0 0 30px;
    position: relative;
    top: 0;
  }
}

#res_mode_wrap{
  display: none;
}

.special_astro_model #res_mode_wrap{
  display: block;
}
@media (min-width: 768px){
  .special_astro_model #res_mode_wrap{
      top: 175px;
      position: fixed;
      width: 220px;
      left: 0;
      z-index: 999999;
  }
  .special_astro_model #res_mode_wrap .title{
    padding: 0 0 0 20px;
    text-align: left;
  }
}

#res_mode{
    position: absolute;
    right: 2vw;
    top: 2.4vw;
    font-size: 12px;
}

@media (max-width: 767px){
  #res_mode{
    z-index: 99999;
    position: fixed;
    right: 10px;
  }
}
@media (min-width: 768px){
  #res_mode{
      width: 190px;
      text-align: left;
      padding: 0 0 0 30px;
      position: relative;
      top: 0;
      right: 0;
      font-size: 14px;
  }
}

html.partner #input_location, html.forecast #input_location{
  display: none;
}

#input_location select{
  margin-right: 5px;
}

#input_location span{
  margin-right: 5px;
  font-size: 22px;
  vertical-align: text-top;
  font-family: serif;
}

#input_location .how_to_input_city{
    font-family: inherit;
    font-size: inherit;
}

@media (min-width: 768px){
  #get_planet_position{
    margin: 32px 4px 120px;
  }
}

/*
 * 計算機のリンク
 */
#calculator_nav{
  position: absolute;
  top: calc(6vw + 34px);
  padding: 0 0 0 20px;
  white-space: nowrap;
  overflow: auto;
  width: calc(100% - 20px);
}

@media (max-width: 767px){
  #calculator_nav #calculator_nav_links{
    white-space: nowrap;
    width: fit-content;
    padding: 0 30px 0 0;
    font-size: 12px;
  }

  #calculator_nav a{
    border: solid 2px #374ba2;
    background: rgb(38, 43, 64);
    color: #93c4ef;
    border-radius: 16px;
    padding: 2px 12px;
    margin: 0 8px 0 0;
    font-size: 12px;
  }
}

@media (min-width: 768px){
  #calculator_nav{
    position: fixed;
    top: 200px;
    width: 190px;
    z-index: 99998;
  }

  .special_astro_model #calculator_nav{
    top: 243px;
  }
  .partner #calculator_nav, .forecast #calculator_nav{
    top: 221px;
  }
  .special_astro_model.partner #calculator_nav,
  .special_astro_model.forecast #calculator_nav {
    top: 264px;
  }

  #calculator_nav #calculator_nav_links{
    padding: 0 0 0 10px;
    font-size: 14px;
  }

  #calculator_nav a{
    display: block;
  }
}



a{
    text-decoration: none;
}


/* 
 * ページタイトル
 */

section#title img{
    width: 50px;
    margin-top: 40px;
}

section h1{
    margin: 0 0 0 0;
    font-size: 24px;
}

section h1 + p{
  font-size: 12px;
  margin: 0 0 60px 0;
}

h1 + p + div{
  width: 13vw;
  max-width: 100px;
  margin: 50px auto 50px;
}

#title p.description{
    line-height: 2.1em;
    margin: 30px auto 60px auto;
}


/* 
 * 結果
 */

#result {
  position: relative;
  height: auto;
}

#result #res_message{
    padding: 50px 0 30px 0;
    border-top: solid 1px #827b65;
}

#result .res_item{
  padding: 30px 0 60px 0;
  margin-left: auto;
  margin-right: auto;
}

#result img{
    max-width: 400px;
    width: 80%;
    margin: 20px 0 20px 0;
}

#result .great_title_area {
  padding: 50px 0 44px;
}

#result .great_title {
  font-size: 28px;
  line-height: 1em;
}

#result .title_area{
  margin: 50px 0 44px;
  line-height: 1.1em;
}

#result .title{
  font-family: 'EB Garamond', 'Noto Serif JP', serif;
  font-size: 24px;
}

.ja #result .title{
  font-family: 'EB Garamond', 'Noto Serif JP', serif;
}

#result .before_img_area .title{
  padding: 0.3em 0;
}

#result .title_description{
  font-family: 'EB Garamond', 'Noto Serif JP', serif;
  margin: 14px 0 0 0;
}

#result .just_before_img{
    margin: 30px 0 0 0;
}

#result .res_item .title img.planet_icon{
    width: 20px;
    vertical-align: top;
    margin: 0 8px 0 8px;
}

.ja #result .res_item .title img.planet_icon{
    width: 20px;
    vertical-align: unset;
}

#result .word{
  color: #9c9b89;
  color: #879ea9;
  font-size: 12px;
  line-height: 1.3em;
  padding: 4px;
}

#result .many_res_wrap .res_item {
  padding: 0px 5px 60px;
  display: inline-block;
  vertical-align: top;
}

#result .res_pair_wrap .res_item{
    width: 44%;
    max-width: 300px;
    display: inline-block;
    vertical-align: top;
    margin: 0 1vw 50px 1vw;
}

#result .res_pair_wrap img{
  width: 100%;
}

#result .res_item img.planet_icon{
    width: 15px;
    vertical-align: text-top;
    margin: 0 4px 0 4px;
}

#result img.planet_icon.large{
    width: 24px;
    padding: 0;
    position: absolute;
    margin: 3px 0 0 -50px;
}

.ja #result img.planet_icon.large{
    margin: 2px 0 0 -50px;
}

#result #res_title {
    margin: 0 0 36px;
    padding: 0;
}

#result #res_title h2{
    font-size: 20px;
}

#result table{
  margin: auto;
}

#res_name{
    margin: 30px 0 0;
    height: 27px;
    display: block;
}

.res_name{
    height: 27px;
    display: block;
}

@media (min-width: 960px) {
  #res_text_wrap{
    width: 800px;
    margin: auto;
  }
}
@media (max-width: 767px) {
  .partner #res_date_time,
  .forecast #res_date_time
  {
    top: 0.5vw;
  }
  .partner #res_date_time_p,
  .forecast #res_date_time_f
  {
    top: 4.5vw;
  }
}

@media (max-width: 767px) {
  .many_res_wrap .res_item:nth-child(2n) {
    margin-left: 3%; 
  }
  .many_res_wrap .res_item{
    width: 70%;
  }
  .many_res_wrap .res_item img{
    height: auto;
  }
  .many_res_wrap .res_item{
    width: 45%;
  }
/*  .many_res_wrap .res_item img{
    height: 43vw;
  }*/
}

@media (min-width: 768px) and (max-width: 959px) {
  .many_res_wrap .res_item{
    width: 50%;
  }
/*  .many_res_wrap .res_item img{
    height: 50vw;
  }*/
  .many_res_wrap .res_item{
    width: 30%;
  }
/*  .many_res_wrap .res_item img{
    height: 28.5vw;
  }*/
  .many_res_wrap .res_item:nth-child(3n) {
    margin-left: 3%; 
  }
  .many_res_wrap .res_item:nth-child(3n+2) {
    margin-left: 3%; 
  }
}

@media (min-width: 960px) {
  .many_res_wrap .res_item{
    width: 35%;
  }
/*  .many_res_wrap .res_item img{
    height: 35vw;
  }*/
  .many_res_wrap .res_item{
    width: 22%;
  }
/*  .many_res_wrap .res_item img{
    height: 21vw;
  }*/
  .many_res_wrap .res_item:nth-child(4n) {
    margin-left: 2%; 
  }
  .many_res_wrap .res_item:nth-child(4n+2) {
    margin-left: 2%; 
  }
  .many_res_wrap .res_item:nth-child(4n+3) {
    margin-left: 2%; 
  }
}

#footer_nav{
  text-align: center;
  padding: 50px 0 50px;
}

#title h1 + p{
  margin: 20px auto 20px;
}

#title p{
    max-width: 600px;
    margin: 0 auto 30px;
    line-height: 1.3em
}


/* 
 * アンカー
 */

.anchor{
  margin: 50px 0;
}

.anchor a{
    display: inline-block;
    margin: 0 8px 0;;
    white-space: nowrap;
    cursor: pointer;
}

.anchor img{
    max-width: 15px;
    display: inline;
    vertical-align: middle;
    margin: 0 4px;
}

a.anchor{
  cursor: pointer;
}

div.anchor{
    background: #10100f;
    width: 100vw;
    margin: 30px 0 30px -20px;
    padding: 20px 0;
    border-top: double 6px #353532;
    border-bottom: double 6px #353532;
}
@media (min-width: 768px) {
  div.anchor{
      width: 100%;
      margin: 30px 0 30px 0;
  }
}

#result div.anchor .planet_icon{
    width: 6vw;
    max-width: 20px;
    vertical-align: middle;
    margin: 0 0.5vw 0;
}

.calculator_footer{
  margin-bottom: 50px;
}

/* 
 * 曼荼羅
 */
#geo_mandala{
  position: relative;
  height: 150vw;
}
#geo_mandala div{
  position: absolute;
  width: 28vw;
  left: 0;
  right: 0;
  margin: auto;
}
#geo_mandala div img{
  margin: 0;
  width: 100%;
}
#geo_mandala .Neptune{
  left: 60vw;
  top: 10vw;
}
#geo_mandala .Uranus{
  right: 60vw;
  top: 20vw;
}
#geo_mandala .Saturn{
  top: 30vw;
}
#geo_mandala .Jupiter{
  left: 60vw;
  top: 40vw;
}
#geo_mandala .Mars{
  right: 60vw;
  top: 50vw;
}
#geo_mandala .Sun{
  top: 60vw;
}
#geo_mandala .Venus{
  left: 60vw;
  top: 70vw;
}
#geo_mandala .Mercury{
  right: 60vw;
  top: 80vw;
}
#geo_mandala .Moon{
  top: 90vw;
}

@media (min-width: 768px) {
  #geo_mandala{
    height: 700px;
  }
  #geo_mandala div{
    width: 140px;
  }
  #geo_mandala .Neptune{
    left: 300px;
    top: 50px;
  }
  #geo_mandala .Uranus{
    right: 300px;
    top: 100px;
  }
  #geo_mandala .Saturn{
    top: 150px;
  }
  #geo_mandala .Jupiter{
    left: 300px;
    top: 200px;
  }
  #geo_mandala .Mars{
    right: 300px;
    top: 250px;
  }
  #geo_mandala .Sun{
    top: 300px;
  }
  #geo_mandala .Venus{
    left: 300px;
    top: 350px;
  }
  #geo_mandala .Mercury{
    right: 300px;
    top: 400px;
  }
  #geo_mandala .Moon{
    top: 450px;
  }
}

#helio_mandala{
  max-width: 500px;
  margin: 50px auto;
  padding: 0 0 calc(100vh - 100px - 100vw);
  font-size: 0;
  line-height: 0;
}
#helio_mandala div{
  width: 28vw;
  max-width: 140px;
  margin: 0.5vw;
  display: inline-block;
}
#helio_mandala img{
  width: 100%;
  margin: 0;
}


/* 
 * レインボーの一覧
 */
#res_text_wrap {
    position: relative;
    padding: 0 2vw;
    min-height: 90vh;
}
#res_text_wrap .symbol_name {
    margin: 2px 0 20px;
    font-size: 24px;
    font-family: 'EB Garamond', serif;
    width: 100%;
    display: block;
}

/* 
 * Setting
 */

#setting_article{
    margin: -100px 0 50px 0;
}

#setting_article section{
  max-width: 800px;
  margin: auto;
  text-align: left;
}

#setting_article section > div{
  margin: 0 0 0 0px;
}

#setting_article h2{
  margin: 40px 0 10px 0;
}

#setting_article input[type=radio]:not(first-child){
  margin: 0 6px;
}

@media (min-width: 768px) {
  #setting_article{
    padding-left: 0;
  }
  #setting_article section{
    padding: 0 20px;
  }
}

tr{
  vertical-align: top;
  line-height: 1.3em;
}

td, th{
  padding: 0 12px 4px 0;
}

td:first-child{
  min-width: 100px;
}

td.description{
  font-size: 12px;
}

#sorry{
  margin: 0 0 100px;
}


/* 
 * 個別ページ
 */
.uncertainBirthTime .res_time,
.uncertainBirthTime #mandala{
  display: none;
}
#unknown_time #title p{
    line-height: 1.8em;
}

#house_cusp #res_text_wrap{
    border-bottom: solid 1px #827b65;
    padding: 0 0 50px;
    width: 100%;
}

#harmonics_conjunction h1 + p + div{
  width: 20vw;
  max-width: 100px;
  margin: 50px auto 50px;
}

#midpoint #result .great_title .planet_icon{
  position: relative;
  margin: 3px 12px 0 12px;
  width: 24px;
  vertical-align: top;
}

#midpoint table{
  margin: 10px auto 0;
}

#midpoint td{
  padding: 0 0 4px;
}

#midpoint #result td:first-child {
    text-align: right;
}
#midpoint #result td:last-child {
    text-align: left;
}

