/* 
 * 全体デザイン
 */

.Capricorn {
  color: #ccceff;
}

.Aquarius {
  color: #f4e0ff;
}

.Pisces {
  color: #ffe1f2;
}

.Aries {
  color: #ffe2e2;
}

.Taurus {
  color: #fce5c8;
}

.Gemini {
  color: #fffabc;
}

.Cancer {
  color: #fdffd7;
}

.Leo {
  color: #f6fffd;
}

.Virgo {
  color: #dafff5;
}

.Libra {
  color: #d2f7ff;
}

.Scorpio {
  color: #c5e8ff;
}

.Sagittarius {
  color: #c2d8ff;
}

#nav_sing_wrap{
  display: none;
}

#symbol_search{
    text-align: center;
    position: absolute;
    top: 3vw;
    right: 10px;
}
@media (min-width: 768px){
  #symbol_search{
    margin-top: 30px;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
  }
}

#symbol_search select, #symbol_search button{
  vertical-align: top;
  display: inline-block;
  margin: 0 3px;
}


/* 
 * サイン選択
 */
@media (min-width: 768px){
  #nav_sing_wrap{
    display: block;
    top: 170px;
    position: absolute;
    text-align: center;
    width: 170px;
    left: 25px;
  }
  #nav_sing_wrap a{
    padding: 0 10px;
  }

  #nav_sing_wrap img{
    width: 20px;
  }
}

.symbols_article {
    margin-top: calc(7vw + 14px);
}
.symbols_article img{
    width: 100%;
}
@media (min-width: 600px){
  .symbols_article {
      margin-top: 63px;
  }
}
@media (min-width: 768px){
  .symbols_article{
    margin-top: 0;
    width: calc(100% - 220px);
    margin-left: -220px;
  }
}
.symbols_article a{
  display: inline-block;
  vertical-align: middle;
  line-height: 0;
  background-size: cover;
  position: relative;
}
.symbols_article a::before{
  content: '';
  mix-blend-mode: multiply;
  width: 100%;
  height: 100%;
  display: block;
}
.symbols_article a span{
    position: absolute;
    z-index: 100;
    font-size: 4vw;
    font-family: 'EB Garamond', 'Noto Serif JP', serif;
    right: 0;
    left: 0;
}

#symbols_article a{
  width: 33.3%;
  height: 33vw;
}

#symbols_article a::before{
  background-color: #e68ab5;
  opacity: 0.8;
}
#symbols_article a span{
    margin-top: -16.5vw;
    text-align: center;
    position: absolute;
    color: #fff9e3;
    font-size: 4vw;
}

@media (min-width: 768px){
  #symbols_article a{
    height: calc(33vw - 73px);
  }
  #symbols_article a span{
    font-size: 20px;
    margin-top: calc(-16.5vw + 36px);
  }
}

@media (min-width: 1080px){
  #symbols_article a{
    height: calc(25vw - 55px);
    width: 25%;
  }
  #symbols_article a span{
    font-size: 24px;
    margin-top:  calc(-12.5vw + 27px);
  }
}

/* 
 * 度数選択
 */
#symbols_sign_article a{
  width: 50%;
  height: 50vw;
  font-family: 'EB Garamond', 'Noto Serif JP', serif;
}

#symbols_sign_article a::before{
  background-color: #d0a875;
  opacity: 0.8;
}
#symbols_sign_article a p{
    margin-top: -16.5vw;
    position: absolute;
    color: #fff9e3;
    font-size: 4vw;
    padding: 0 2vw;
}
#symbols_sign_article a p.sign_degree{
  margin-top: -43vw;
}
#symbols_sign_article a p.sabian{
  margin-top: -37vw;
  line-height: 1.1em;
}

@media (min-width: 768px){
  #symbols_sign_article a{
    height: calc(50vw - 110px);
  }
  #symbols_sign_article a p{
    font-size: 20px;
  }
  #symbols_sign_article a p.sign_degree{
    margin-top: -34vw;
  }
  #symbols_sign_article a p.sabian{
    margin-top: -31vw;
    line-height: 1.1em;
  }
}

@media (min-width: 1080px){
  #symbols_sign_article a{
    height: calc(33vw - 73px);
    width: 33.3%;
  }
  #symbols_sign_article a p{
    font-size: 20px;
    margin-top:  calc(-12.5vw + 27px);
  }
  #symbols_sign_article a p.sign_degree{
    margin-top: -22vw;
  }
  #symbols_sign_article a p.sabian{
    margin-top: -20vw;
  }
}

/* 
 * 度数詳細
 */
#symbols_degree_article{
  padding-top: 100px;
}

#symbols_degree_article .res_text_wrap a {
    line-height: 1.1em;
    display: inline;
}

#symbols_degree_article .res_text_wrap a span{
  position: relative;
}

#symbols_degree_article #title {
    padding-bottom: 100px;
    margin-bottom: 100px;
    border-bottom: solid 1px #434441;
}

#symbols_degree_article #title p {
    margin: 20px auto 20px;
    max-width: 600px;
    line-height: 1.3em;
    font-size: 16px;
}

#symbols_degree_article #title img{
    width: 80vw;
    max-width: 300px;
    margin-top: 40px;
}

#symbols_degree_article #anchor {
    padding-top: 0;
    padding-bottom: 100px;
    margin-bottom: 100px;
    border-bottom: solid 1px #434441;
}

#symbols_degree_article #anchor a{
    vertical-align: inherit;
    display: inline-block;
    margin: 0 8px;
}

#symbols_degree_article .degree_name{
  margin: 0 auto 20px;
}

#symbols_degree_article .title_description{
  margin: 14px 0 0 0;
  font-size: 14px;
  line-height: 1.3em;
}
#symbols_degree_article section{
  padding-top: 70px;
}

@media (min-width: 768px){
  #symbols_degree_article{
    padding-top: 100px;
  }
  #symbols_degree_article section{
    padding: 20px 20px 0;
  }
}
@media (min-width: 1080px){
  #symbols_degree_article section{
    max-width: 800px;
    margin: auto;
  }
}

.res_img_wrap_wrap{
    position: relative;
}

.res_text_wrap{
    position: relative;
    padding: 2vw 2vw 20vw;
    min-height: 80vh;
}

.res_text_wrap a{
    text-decoration: none;
}

.res_text_wrap .symbol_name{
    margin: 2px 0 24px;
    line-height: 1.3em;
    font-size: 24px;
    font-family: 'EB Garamond', 'Noto Serif JP', serif;
    width: 100%;
    display: block;
}

@media (min-width: 768px) {
  .res_text_wrap{
    max-width: 800px;
    margin: auto;
  }

  .res_text_wrap .symbol_name{
    margin: 6px 0 40px;
  }
}



/*
 * 5度グループ
 */
section#five_degrees_group {
  padding-bottom: 100px;
  margin-bottom: 100px;
  border-bottom: solid 1px #434441;
}

#five_degrees_group .res_img{
  width: 31%;
  padding: 0 0.5vw 1vw;
}

#five_degrees_group .res_img_wrap{
  margin-top: 50px;
}

#five_degrees_group .res_text_wrap{
  margin: 20vw 0 0;
  padding: 0;
}



section.polygon{
/*  min-height: 200vw;*/
  padding: 0 2vw;
  width: calc(100% - 4vw);
}

/*
#symbols_degree_article .res_img_wrap a{
  position: absolute;
}
*/

/*
 * グランドクロス
 */
#cross img.bg_img{
    position: absolute;
    width: 72vw;
    left: 0;
    right: 0;
    top: -8vw;
    margin: auto;
}

#cross .res_img_wrap{
    position: relative;
    margin-top: 45vw;
    height: 100vw;
    min-height: 90vh;
}

#cross a.res_img{
    position: absolute;
    width: 36vw;
    margin: auto;
}

#cross .res_img1{
    top: -33vw;
    left: 0;
    right: 0;
}

#cross .res_img2{
    left: 1vw;
    top: 9vw;
}

#cross .res_img3{
    top: 51vw;
    left: 0;
    right: 0;
}

#cross .res_img4{
    top: 9vw;
    right: 1vw;
}

@media (min-width: 768px) {
  #cross .res_img_wrap{
    top: 0;
    margin: 140px auto 0;
    right: 0;
    left: 0;
    width: auto;
  }

  #cross img.bg_img{
    width: 480px;
    top: 0px;
  }

  #cross a.res_img{
    width: 200px;
  }

  #cross .res_img1{
    top: -80px;
    left: 0;
    right: 0;
  }

  #cross .res_img2{
    left: 0;
    right: 450px;
    top: 140px;
  }

  #cross .res_img3{
    top: 360px;
    left: 0;
    right: 0;
  }

  #cross .res_img4{
    left: unset;
    right: 0;
    top: 140px;
  }
}

@media (min-width: 960px) {
  #cross .res_img4{
    left: 450px;
  }
}

/*
 * ペンタクル
 */

#pentagram img.bg_img{
    position: absolute;
    left: 0;
    right: 0;
    width: 72vw;
    top: -24vw;
    margin: auto;
}

#pentagram .res_img_wrap{
    position: relative;
    margin-top: 42vw;
    height: 80vw;
    min-height: 70vh;
}

#pentagram a.res_img{
    position: absolute;
    width: 30vw;
    margin: auto;
}

#pentagram .res_img1{
    top: -33vw;
    left: 0;
    right: 0;
}

#pentagram .res_img2{
left: 1vw;
    top: -4vw;
}

#pentagram .res_img3{
    top: 33vw;
    left: 0;
    right: 34vw;
}

#pentagram .res_img4{
    top: 33vw;
    left: 34vw;
    right: 0;
}

#pentagram .res_img5{
    right: 1vw;
    top: -4vw;
}

@media (min-width: 768px) {
  #pentagram {
  }

  #pentagram .res_img_wrap{
    top: 0;
    margin: 155px auto 0;
    right: 0;
    left: 0;
    width: auto;
  }

  #pentagram img.bg_img{
    width: 440px;
    top: -30px;
  }

  #pentagram a.res_img{
    width: 190px;
  }

  #pentagram .res_img1{
    top: -117px;
    left: 0;
    right: 0;
  }

  #pentagram .res_img2{
    left: 0;
    right: unset;
    top: 88px;
  }

  #pentagram .res_img3{
    top: 325px;
    left: 0;
    right: 226px;
  }

  #pentagram .res_img4{
    top: 325px;
    right: 0;
    left: 226px;
  }

  #pentagram .res_img5{
    right: 0;
    left: unset;
    top: 88px;
  }
}

@media (min-width: 960px) {
  #pentagram .res_img2{
    right: 430px;
  }
  #pentagram .res_img5{
    left: 430px;
  }
}

/*
 * 六芒星
 */

#hexagram img.bg_img{
    position: absolute;
    left: 0;
    right: 0;
    width: 52vw;
    top: -3.5vw;
    margin: auto;
}

#hexagram .res_img_wrap{
    position: relative;
    margin-top: 42vw;
    height: 80vw;
    min-height: 70vh;
}

#hexagram a.res_img{
    position: absolute;
    width: 29vw;
    margin: auto;
}

#hexagram .res_img1{
    top: -27vw;
    left: 0;
    right: 0;
}

#hexagram .res_img2{
    left: 1vw;
    top: -8vw;
}

#hexagram .res_img3{
    left: 1vw;
    top: 24vw;
}

#hexagram .res_img4{
    top: 43vw;
    left: 0;
    right: 0;
}

#hexagram .res_img5{
    right: 1vw;
    top: 24vw;
}

#hexagram .res_img6{
    right: 1vw;
    top: -8vw;
}

@media (min-width: 768px) {
  #hexagram {
  }

  #hexagram .res_img_wrap{
    top: 0;
    margin: 60px auto 0;
    right: 0;
    left: 0;
    width: auto;
  }

  #hexagram img.bg_img{
    width: 270px;
    top: 109px;
  }

  #hexagram a.res_img{
    width: 160px;
  }

  #hexagram .res_img1{
    top: -20px;
    left: 0;
    right: 0;
  }

  #hexagram .res_img2{
    left: 0;
    right: 340px;
    top: 75px;
  }

  #hexagram .res_img3{
    top: 253px;
    left: 0;
    right: 340px;
  }

  #hexagram .res_img4{
    top: 348px;
    right: 0;
    left: 0;
  }

  #hexagram .res_img5{
    top: 253px;
    left: 340px;
    right: 0;
  }

  #hexagram .res_img6{
    left: 340px;
    right: 0;
    top: 75px;
  }
}

/*
 * 七昴星
 */


#septagram img.bg_img{
    position: absolute;
    left: 0;
    right: 0;
    width: 33vw;
    top: -4vw;
    margin: auto;
}

#septagram .res_img_wrap{
    position: relative;
    margin-top: 42vw;
    height: 80vw;
    min-height: 70vh;
}

#septagram a.res_img{
    position: absolute;
    width: 25vw;
    margin: auto;
}


#septagram .res_img1{
    top: -33vw;
    left: 0;
    right: 0;
}

#septagram .res_img2{
left: 6vw;
    top: -21vw;
}

#septagram .res_img3{
    top: 6vw;
    left: 1vw;
}

#septagram .res_img4{
top: 33vw;
    left: 0;
    right: 35vw;
}

#septagram .res_img5{
top: 33vw;
    left: 35vw;
    right: 0;
}

#septagram .res_img6{
    top: 6vw;
    right: 1vw;
}

#septagram .res_img7{
right: 6vw;
    top: -21vw;
}

@media (min-width: 768px) {
  #septagram .res_img_wrap{
    top: 0;
    margin: 140px auto 0;
    right: 0;
    left: 0;
    width: auto;
  }

  #septagram img.bg_img{
    width: 230px;
    top: 102px;
  }

  #septagram a.res_img{
    width: 140px;
  }

  #septagram .res_img1{
    top: -72px;
    left: 0;
    right: 0;
  }

  #septagram .res_img2{
    left: 16px;
    right: 390px;
    top: 0px;
  }

  #septagram .res_img3{
     top: 178px;
    left: 0;
    right: unset;
  }

  #septagram .res_img4{
    top: 354px;
    right: 215px;
    left: 0;
  }

  #septagram .res_img5{
    top: 354px;
    right: 0;
    left: 215px;
  }

  #septagram .res_img6{
    top: 178px;
    left: unset;
    right: 0;
  }

  #septagram .res_img7{
    left: 390px;
    right: 16px;
    top: 0px;
  }
}

@media (min-width: 960px) {
  #septagram a.res_img{
    width: 160px;
  }
  #septagram .res_img3{
    right: 474px;
  }
  #septagram .res_img6{
    left: 474px;
  }
}

/*
 * 八芒星
 */

#octagram img.bg_img{
    position: absolute;
    left: 0;
    right: 0;
    width: 33vw;
    top: -3vw;
    margin: auto;
}

#octagram .res_img_wrap{
    position: relative;
    margin-top: 42vw;
    height: 80vw;
    min-height: 70vh;
}

#octagram a.res_img{
    position: absolute;
    width: 27vw;
    margin: auto;
}

#octagram .res_img1{
    top: -34vw;
    left: 0;
    right: 0;
}

#octagram .res_img2{
    left: 1vw;
    top: -34vw;
}

#octagram .res_img3{
top: 0vw;
    left: 1vw;
}

#octagram .res_img4{
    top: 34vw;
    left: 1vw;
}

#octagram .res_img5{
top: 34vw;
    left: 0;
    right: 0;
}

#octagram .res_img6{
    top: 34vw;
    right: 1vw;
}

#octagram .res_img7{
right: 1vw;
    top: 0vw;
}

#octagram .res_img8{
    right: 1vw;
    top: -34vw;
}

@media (min-width: 768px) {
  #octagram {
  }

  #octagram .res_img_wrap{
    top: 0;
    margin: 110px auto 0;
    right: 0;
    left: 0;
    width: auto;
  }

  #octagram img.bg_img{
    width: 200px;
    top: 111px;
  }

  #octagram a.res_img{
    width: 160px;
  }

  #octagram .res_img1{
    top: -72px;
    left: 0;
    right: 0;
  }

  #octagram .res_img2{
    left: 0;
    right: 421px;
    top: -72px;
  }

  #octagram .res_img3{
     top: 128px;
    left: 0;
    right: 421px;
  }

  #octagram .res_img4{
    top: 332px;
    right: 421px;
    left: 0;
  }

  #octagram .res_img5{
    top: 332px;
    right: 0;
    left: 0;
  }

  #octagram .res_img6{
    top: 332px;
    left: unset;
    right: 0;
  }

  #octagram .res_img7{
    top: 128px;
    left: unset;
    right: 0;
  }

  #octagram .res_img8{
    left: unset;
    right: 0;
    top: -72px;
  }
}
@media (min-width: 834px) {
  #octagram .res_img6{
    left: 421px;
  }

  #octagram .res_img7{
    left: 421px;
  }

  #octagram .res_img8{
    left: 421px;
  }
}

/*
 * 9芒星
 */

#nonagram img.bg_img{
    position: absolute;
    left: 0;
    right: 0;
    width: 47vw;
    top: -3vw;
    margin: auto;
}

#nonagram .res_img_wrap{
    position: relative;
    margin-top: 35vw;
    height: 90vw;
    min-height: 80vh;
}

#nonagram a.res_img{
    position: absolute;
    width: 21vw;
    margin: auto;
}

#nonagram .res_img1{
    top: -26vw;
    left: 0;
    right: 0;
}

#nonagram .res_img2{
    left: 9vw;
    top: -20vw;
}

#nonagram .res_img3{
    top: 5vw;
    left: 1vw;
}

#nonagram .res_img4{
    top: 30vw;
    left: 3vw;
}

#nonagram .res_img5{
    top: 47vw;
    left: 26vw;
}

#nonagram .res_img6{
    top: 47vw;
    right: 26vw;
}

#nonagram .res_img7{
    right: 3vw;
    top: 30vw;
}

#nonagram .res_img8{
    right: 1vw;
    top: 5vw;
}

#nonagram .res_img9{
    right: 9vw;
    top: -20vw;
}

@media (min-width: 768px) {
  #nonagram {
  }

  #nonagram .res_img_wrap{
    top: 0;
    margin: 90px auto 0;
    right: 0;
    left: 0;
    width: auto;
  }

  #nonagram img.bg_img{
    width: 260px;
    top: 80px;
  }

  #nonagram a.res_img{
    width: 110px;
  }

  #nonagram .res_img1{
    top: -50px;
    left: 0;
    right: 0;
  }

  #nonagram .res_img2{
    left: 46px;
    right: 366px;
    top: -24px;
  }

  #nonagram .res_img3{
    top: 117px;
    left: 0;
    right: 465px;
  }

  #nonagram .res_img4{
    top: 259px;
    right: 431px;
    left: 18px;
  }

  #nonagram .res_img5{
    top: 356px;
    right: 143px;
    left: 10px;
  }

  #nonagram .res_img6{
     top: 356px;
    left: 143px;
    right: 10px;
  }

  #nonagram .res_img7{
    top: 259px;
    right: 18px;
    left:  unset;
  }

  #nonagram .res_img8{
    top: 117px;
    right: 0;
    left: unset;
  }

  #nonagram .res_img9{
    right: 46px;
    left: 366px;
    top: -24px;
  }
}
@media (min-width: 840px) {
  #nonagram img.bg_img{
    width: 280px;
    top: 90px;
  }
  #nonagram a.res_img{
    width: 130px;
  }
  #nonagram .res_img2{
    left: 0;
    right: 327px;
  }
  #nonagram .res_img3{
    left: 0;
    top: 127px;
  }
  #nonagram .res_img4{
    left: 0;
    top: 279px;
  }
  #nonagram .res_img5{
    left: 0;
    top: 386px;
  }
  #nonagram .res_img6{
    right: 0;
    top: 386px;
  }
  #nonagram .res_img7{
    right: 0;
    left:  431px;
    top: 279px;
  }
  #nonagram .res_img8{
    left: 465px;
    top: 127px;
  }
  #nonagram .res_img9{
    right: 0;
    left: 327px;
  }
}

#antiscion .res_img{
    width: 46%;
    margin: 50px 1%;
}

#antiscion .res_text_wrap{
  min-height: auto;
}



